 .menu-opcoes ul {
   font-size: 16px;
 }
 .menu-opcoes a {
 color: #1a1212;
 }
  body {
   color:#0c0c0c;
   font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
 }
 .menu-opcoes ul li {
  display: inline;
  margin-left: 20px;
}
.container {
  margin: 0 auto;
  width: 940px;
}
 header {
   position: relative;
 }
 .banner-destaque {
  margin: 0 auto;
  width: 940px;
}
 .menu-opcoes {
   position: absolute;
   bottom: 0;
   right: 0;
 }
  .painel {
   margin: 10px 0;
   padding: 10px;
   width: 445px;
 }

 .novidades {
   float: left;
 }

 .mais-vendidos {
   float: right;
 }
 .painel li {
   display: inline-block;
   vertical-align: top;
   width: 140px;
   margin: 2px;
   padding-bottom: 10px;
 }
 .painel h2 {
   font-size: 24px;
   font-weight: bold;
   text-transform: uppercase;
   margin-bottom: 10px;
 }

 .painel a {
   color: #0e0d0d;
   font-size: 15px;
   text-align: center;
   text-decoration: none;
 }

 .novidades {
background-color: #f8454e
 }

 .mais-vendidos {
background-color: #e03434
 }
 
 
  .painel li:hover {
   transform: scale(1.2) rotate(-5deg);
 }
  .painel li:nth-child(2n):hover {
   transform: scale(1.2) rotate(5deg);
 }
  .painel li {
   transition: 0.7s;
 }
 .painel li:hover {
   transition: 0.7s ease-in;
 }

 .painel li {
   transition: 0.7s ease-out;
 }
 p {
  margin: 0;
  text-indent: 3ch;
}
p.caldeirao {
   text-indent: 0;
   display: inline;
}
p.caldeirao + p.caldeirao::before {
  content: " ¶ ";
}
 body {
background-color: #9e9da5
}
#imgpos1 {
  float: right;
}

#imgpos2 {
  position: absolute;
  right: 25px;
}
#imgpos3 {
  position: absolute;
  right: 275px;
}
@mixin  para tablet-retrato {
  @media ( min-width: 600 px ) { @content ; }
}
@mixin  para tablet-paisagem-up {
  @media ( min-width: 900 px ) { @content ; }
}
@mixin  para desktop-up {
  @media ( min-width: 1200 px ) { @content ; }
}
@mixin  para-grande-desktop-up {
  @media ( min-width: 1800 px ) { @content ; }
}
// uso
.minha-caixa {
  padding: 10px;
  
  @include para desktop-up {
    padding: 20px;
  }
}
